*{
     margin: 0px;
     padding: 0px;
     border: border-box;
}
body{
     background-color: #f2f4f7;
}
.container{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 500px;
    height: 100px;
    margin-top: 35%;
}
.logo img{
    width: 320px;
    margin-left:-76px;
    margin-bottom: -10px;
}

.content{
    margin-left: -10%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    width: 500px;
}
/**Box-2**/
  .log-form {
    margin-left: 9%;
    width: 380px;
    height: 330px;
    background-color: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 15px;
    margin-top: 32%;
}


input {
    width: 93.5%;
    height: 30px;
    padding: 13px 11px 13px 11px ;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 11px;
    border:1.55px solid #dddfe2;   
    outline:none;
}
form input:focus{
     border-color: #0866ff ;   
     caret-color:#0866ff ;
}
input::placeholder{
    color: #94949c ;
}


.log-in {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 20px;
    background-color:#0866ff;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.log-in:hover{
   background-color: #2670e6;
}
p  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px;
     color: #0866ff;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}
hr{
   width: 97%;
   background-color:  #dddfe2;
   margin-top: 25px;
}
.create-acc{
     width: 50%;
    padding: 13px;
    margin-bottom: 15px;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 17px;
    background-color:#42b72a;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-left: 25%;
}
.create-acc a{
    text-decoration: none;
    color: white;
}
.create-acc:hover{
    background-color:#3da528;
}
  /* Media Queries */

@media only screen and (max-width: 1055px){

    .content{ 
           font-size: 24px;
           width: 400px;
           display: flex;
           justify-content: center;
}
.container{
    height: 300px;
    margin-left: 5%;
    width:90%;
    margin-right: 10%;
}
}
@media only screen and (max-width:1010px) {
       .container{
        
        margin-left: 26%;
        margin-right: 20%;
     }
}
@media only screen and (max-width:690px){
    .container{
        margin-left: 60%;
        margin-right: 60%;
    }
}
@media only screen and (max-width:430px){
    .container{
        flex-direction:column ;
        display: flex;
        align-items: center;
        justify-content: center;
        width:10%;
    }
        .content{
        display: none;
    }
.logo{
        margin-top: 90%;
        margin-left: 30%;
        margin-bottom: -15%;
 }
 .log-form{
    width: 400px;
 }
  /**   
    .content{
        display: none;
    }
    .log-form{
         margin-left: 50%;
    }**/
}