*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #f2f4f7;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.logo img{
    height: 100px;
    width: 300px;
}
.box{
    width: 450px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
      padding: 15px;
}
.b-content h2{
    text-align: center;
    margin-bottom: 5px;
}
.b-content h4{
    text-align: center;
    margin-bottom: 12px;
    color:#606770;
}
.name-section{
    margin-top: 15px;
    height: 39px;
    display: flex;
    gap: 10px;
}
.name-section input{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: 1px solid gray;
    color:#606770;
    font-size: 14px;
    padding-left: 10px;
}

.DOB-section p{
    font-size:12px ;
     color: #606770;
     margin-top: 18px;
     margin-bottom: 10px; 
}
.DOB-section span{
    background-color:#52575e ;
    color: aliceblue;
    border-radius: 50% 50%;
    margin-left: 3px;
    font-size: 9px;
    margin-bottom: 10px;
}
.DOB-box{
    height: 36px;
    width: 100%;
    display: flex;
       gap: 15px;
}
.DOB-box select{
    height: 100%;
    width: 80%;
    font-size: 16px;
    padding-left: 3px;
    border-radius: 5px;
    margin-bottom: 4px;
 }
.gender-box{
  height: 36px;
  display: flex;
  gap: 15px;
 justify-content: space-between;
}
.gender-box input{
    margin-left: 35%;
}
.male,.female,.others{
    border: 1px solid gray;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 8px;
}
.address,.password{
    width: 100%;
    height: 42px;
    margin-top: 10px;
}
 .password > input,.address > input{
    height: 100%;
    width: 100%;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
.last-content{
    margin-top: 12px;
    font-size: 11px;
    color: #777777;
}
.last-content p{
    margin-top: 15px;
}
.last-content p a{
    color:#385898;
}
.last-content p a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.signup{
     width: 48%;
   height: 41px;
    margin-bottom: 15px;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 19px;
    background-color:#3da528;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-left: 25%;
}
.signup:hover{
    color: #f2f4f7;
}
.signup a{
    text-decoration: none;
    color: white;
}
.already-acc{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
    margin-top: 4px;
     color: #1877f2;
     cursor: pointer;
     margin-bottom: 5px;
}

@media only screen and (max-width: 490px){
    .box{
        width: auto ;
    }
}